html {
  background-color: lightgrey;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

.boxes {
  border: 15px solid green;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

@media screen and (min-width: 510px) {
  .boxClass {
    display: flex;
  }
}